.main {
  width: 70%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.search {
  margin: 50px 0;
  text-align: center;
  height: 43px;
  &__input {
    width: 70%;
    padding: 12px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 4px;
    &:focus, &:active {
      border: 2px solid #ffcc00;
      outline: none;
    }
    &::placeholder {
      color: rgba(0, 0, 0, 0.56);
    }
  }
  &__button {
    background-color: #fbfbfb;
    height: 100%;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    font: bolder 10px sans-serif;
    cursor: pointer;
    &:hover {
      color: #ff0c00;
    }
  }
}

.fetching {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

$offset: 187;
$duration: 2s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors $duration ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #ff0c00; }
	100% { stroke: #ffcc00; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}