.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);

  &.active {
    transform: scale(1);
  }
  
  &-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 250px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    @media screen and (min-width: 900px) {
      width: 500px;
    }
    &__title {
      font: bold 20px sans-serif;
      margin: 15px 0;
    }
    &-list {
      margin-top: 5px;
      &__publisher:not(:nth-child(2)):before {
        content: ' // ';
      }
    }
  }
}